snippet here "here document (here)"
<<-${2:'${1:EOF}'}
  $0
${1/['"`](.+)['"`]/$1/}
endsnippet

snippet sh "shellcheck disable"
# shellcheck disable=SC${0}
endsnippet

snippet #! "shebang"
#!/usr/bin/env bash
endsnippet

snippet b-empty  "if var empty"
if [[ -z "${1}" ]]; then
  ${0}
fi
endsnippet

# vim:ft=snippets:
