snippet here "here document (here)"
<<-${2:'${1:EOF}'}
  $0
${1/['"`](.+)['"`]/$1/}
endsnippet

snippet if "if ... then (if)"
if ${2:[[ ${1:condition} ]]}; then
	${0:#statements}
fi
endsnippet

snippet sh "shellcheck disable"
# shellcheck disable=SC${0}
endsnippet

snippet #! "shebang"
#!/usr/bin/env bash
endsnippet

# vim:ft=snippets:
