snippet var "variable"
variable "${1}" {
	${2}
}
endsnippet

snippet re "Resource"
resource "${1}" "${2}" {
	${3}
}
endsnippet

snippet pr "Provider"
provider "${1}" {
	${2}
}
endsnippet

snippet da "Data source"
data "${1}" "${2}" {
	${3}
}
endsnippet

snippet mo "Module"
module "${1}" {
	${2}
}
endsnippet
