#
# Angular2
#

extends javascript

snippet @c "@Component({ ... })" b
@Component({
  selector: "$1",
  directives: [ $2 ],
  template: tpl,
  styles: [ css ],
  changeDetection: ChangeDetectionStrategy.OnPush
})
export class ${1:`!v substitute(expand("%:t:r"), '\(-\|^\)\(.\)', '\u\2', 'g')`}Component {
	$0
}
endsnippet

snippet imp "Imports for PUG/SCSS" b
import tpl from "./${1:`!v expand("%:t:r")`}.pug";
import "./${1:`!v expand("%:t:r")`}.scss";
endsnippet
